$bg-color: #c4d5df;
$text-color: #292929;
$light-primary-color: #8b5580;
$primary-color: #660050;
$dark-primary-color: #3a022e;
$light-secondary-color: #56a8b3;
$secondary-color: #024b55;
$dark-secondary-color: #02333a;